@charset "UTF-8";

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	height: 100%;
	font-family: sans-serif;
	scroll-behavior: smooth;
}

h1,
h2,
p {
	margin-top: 0;
	margin-bottom: 0.5rem;
}

body {
	margin: 0;
	padding: 0 15px;
	height: 100%;
	font-size: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-transform: capitalize;
	background-color: #2F80ECff;
}

.container {
	background-color: #fff;
	width: 550px;
	max-width: 100%;
	padding: 20px;
	border-radius: 10px;
	/* todo: shadow */
}

.uploader-header {
	text-align: center;
	margin-bottom: 20px;
}

.uplaoder-wrapper {
	width: 500px;
	margin: 40px auto;
	text-align: center;
}

.uploader {
	padding: 10px;
	height: 200px;
	position: relative;
	border-radius: 5px;
	border: 3px dashed #2F80ECff;
}

.uploader:hover {
	/* todo : hover style */
}

input[type="file"] {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	outline: none;
	opacity: 0;
	cursor: pointer;
}

.uploader-text {
	text-align: center;
	user-select: none;
}

.btn {
	padding: 1rem 2.5rem;
	border: none;
	border-radius: 50px;
	outline: none;
	color: #fff;
	text-transform: capitalize;
	user-select: none;
	cursor: pointer;
	background-color: #2F80ECff;
}

.btn:hover {
	color: white;
}

.btn-upload {
	margin-top: 20px;
}

.uploader-content {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 15px 5px;
	border-radius: 5px;
	border: 2px solid #2F80ECff;
}

.uploader i {
	font-size: 70px;
	margin-top: 25px;
}

.uploader-content i {
	font-size: 25px;
	cursor: pointer;
}
/* todo : minify css and js */